process {
    withName:trimSequences {
        container = '/gpfs01/home/mbzcp2/NXF_SINGULARITY_CACHEDIR/fastp_0.20.1.sif'
   }
   withName:fastaIndex {
        container = '/gpfs01/home/mbzcp2/NXF_SINGULARITY_CACHEDIR/samtools_1.16.1.sif'
   }
    withName:gatkIndex {
        container = '/gpfs01/home/mbzcp2/NXF_SINGULARITY_CACHEDIR/picard_2.26.3.sif'
   }
    withName:bwaIndex {
   container = '/gpfs01/home/mbzcp2/NXF_SINGULARITY_CACHEDIR/bwa_0.7.17.sif'
   }
    withName:bwaMap {
   container = '/gpfs01/home/mbzcp2/NXF_SINGULARITY_CACHEDIR/bwa_0.7.17.sif'
   }
    withName:samtoolsSort {
   container = '/gpfs01/home/mbzcp2/NXF_SINGULARITY_CACHEDIR/samtools_1.16.1.sif'
   }
   withName:addRG {
   container = '/gpfs01/home/mbzcp2/NXF_SINGULARITY_CACHEDIR/picard_2.26.3.sif'
   }
    withName:dupRemoval {
   container = '/gpfs01/home/mbzcp2/NXF_SINGULARITY_CACHEDIR/picard_2.26.3.sif'
   }
    withName:realignIndel {
   container = '/gpfs01/home/mbzcp2/NXF_SINGULARITY_CACHEDIR/gatk_3.8.9.sif'
   }
   withName:samtoolsRealignedIndex {
   container = '/gpfs01/home/mbzcp2/NXF_SINGULARITY_CACHEDIR/samtools_1.16.1.sif'
   }
   withName:calculateDepth {
   container = '/gpfs01/home/mbzcp2/NXF_SINGULARITY_CACHEDIR/samtools_1.16.1.sif'
   }
   withName:calculateGenesDepth {
   container = '/gpfs01/home/mbzcp2/NXF_SINGULARITY_CACHEDIR/bedtools_2.27.1.sif'
   }
   withName:calculateWindowsDepth {
   container = '/gpfs01/home/mbzcp2/NXF_SINGULARITY_CACHEDIR/bedtools_2.27.1.sif'
   }
   withName:calculateWgDepth {
   container = '/gpfs01/home/mbzcp2/NXF_SINGULARITY_CACHEDIR/bedtools_2.27.1.sif'
   }
    withName:snpCalling {
   container = '/gpfs01/home/mbzcp2/NXF_SINGULARITY_CACHEDIR/bcftools_1.16.sif'
   }
   withName:concatVCFs {
   container = '/gpfs01/home/mbzcp2/NXF_SINGULARITY_CACHEDIR/bcftools_1.16.sif'
   }
}
singularity {
    enabled = true
    singularity.autoMounts = true
}
